*

!.github/
!.github/**/

!.github/**/main.yml

!project/
!project/**/

!project/**/project.tcl
!project/**/axis_uart_top.xdc
!project/**/*.sdc
!project/**/*.cst

!rtl/

!rtl/*.sv

!tb/

!tb/*.sv
!tb/wave.do

!.gitignore
!Makefile
!LICENSE.txt
!*.md
