*
!*/

# !.github/
# !.github/**/

!.github/**/*.yml

# !project/
# !project/**/

!project/**/project.tcl
!project/**/zynq_ps.tcl
!project/**/ps_pl_top.xdc
!project/**/*.sdc
!project/**/*.cst
!project/**/Makefile

# !modules/
# !modules/**/
# !modules/**/rtl/

!modules/**/rtl/*.v
!modules/**/rtl/*.sv
!modules/**/rtl/*.svh

# !modules/**/tb/

!modules/**/tb/*.sv
!modules/**/tb/*.svh
!modules/**/tb/*.do
!modules/**/tb/*.m
!modules/**/tb/Makefile

# !modules/**/ip/

!modules/**/ip/*.xci

# !modules/**/bd/

!modules/**/bd/*

# !modules/**/sdk/

!modules/**/sdk/*.c
!modules/**/sdk/*.h

# !modules/**/doc/*.pdf

!modules/**/doc/*.pdf

!modules/**/*.tcl

!.gitignore
!LICENSE.txt
!*.md
