*
!*/

# !.github/
# !.github/**/

!.github/**/*.yml

# !project/
# !project/**/

!project/**/project.tcl
!project/**/zynq_ps.tcl
!project/**/axis_uart_top.xdc
!project/**/ps_pl_uart.xdc
!project/**/*.sdc
!project/**/*.cst

# !modules/
# !modules/**/
# !modules/**/rtl/

!modules/**/rtl/*.sv
!modules/**/rtl/*.svh

# !modules/**/tb/

!modules/**/tb/*.sv
!modules/**/tb/*.svh
!modules/**/tb/*.do
!modules/**/tb/*.m

# !modules/**/ip/

!modules/**/ip/*.xci

# !modules/**/bd/

!modules/**/bd/*

# !modules/**/sdk/

!modules/**/sdk/*.c
!modules/**/sdk/*.h

!modules/**/*.tcl

!.gitignore
!Makefile
!LICENSE.txt
!*.md
